* {
    font-family: arial;
    margin: 0;
    padding: 0; }
html {
    width: 100%;
    margin: 0px;
    padding: 0px; }
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb( 43, 43, 43 ); }
#wrapper {
    width: 100%; }
#nav {
    min-width: 780px;
    height: 50px;
    padding-left: 20px;
    background-color: #222222;
    list-style: none;
    border-bottom: solid 2px #121212; }
#nav > li {
    min-width: 150px;
    height: 48px;
    margin-right: -4px;
    padding: 1px 5px 1px 5px;
    display: inline-block;
    color: rgba( 255, 255, 255, .3 );
    background-color: #2B2B2B;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 1px 1px 2px rgba(0,0,0,0.75);
    cursor: pointer;
    text-align: center;
    line-height: 45px; }
#nav > li:hover, .selected {
    height: 46px !important;
    margin-top: -2px !important;
    padding-bottom: 4px !important;
    color: rgba(0,0,0,.4) !important;
    font-weight: bold !important;
    border-top: solid 4px #34A853 !important;
    line-height: 41px !important; }
#nav > li:hover {
    background-color: rgba( 255, 255, 255, .5 ); }
#copyright {
    float: right;
    margin: 30px 20px 10px 10px;
    font-size: 12px;
    font-weight: bold;
    color: rgba( 255, 255, 255, .5 ); }
#output {
   position: absolute;
   top: 52px;
   bottom: 0;
   right:0;
   width: 250px;
   background-color: #efefef;
   -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
   box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
   border-left: solid 1px #121212;
   overflow: auto; }
#output-section {
    color: #666666;
    text-align: center;
    border-bottom: solid 1px rgb(198, 198, 198);
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    background-color: #cfcfcf; }
#output-text {
    padding: 10px; }
#content {
    position: absolute;
    top: 52px;
    left: 0;
    bottom: 0;
    width: calc( 100% - 252px );
    border-right: solid 1px rgb( 85, 85, 85 ); }
.selected, .selected:hover {
    background-color: rgb( 57, 60, 62 ) !important; }
/* UI ID */
#ui-pannel {
    background-color: rgb( 57, 60, 62 );
    border-bottom: solid 1px rgb( 85, 85, 85 ); }
#ui-pannel > ul {
    list-style: none;
    padding: 20px 20px 0 20px;
    border-bottom: solid 1px rgb( 40, 40, 40 ); }
#ui-pannel > ul > li {
    text-align: center;
    min-width: 70px;
    color: rgb( 187, 187, 187 );
    padding: 10px 5px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer; }
#ui-pannel > ul > li:hover {
    background-color: rgb( 75, 110,175 );
    padding-bottom: 12px;
    margin-bottom: -2px;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 1px 1px 2px rgba(0,0,0,0.75); }
/* UI CLASES */
.ui-pannel-option-selected {
    border-bottom: solid 2px rgb(26, 115, 232);
    margin-bottom: -2px; }
.ui-pannel-option-selected:hover {
    border-bottom: none; }
.ui-console-request {
    color: #F6B73C;
    font-weight: bold;
}
.ui-console-response-ok {
    color: #34A853;
    font-weight: bold;
}
.ui-table {
    width: 100%;
    text-align: center;
}
.ui-table > tr > td {
    border: dotted 1px ;
}